<div
	class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
	<!-- Imagen de fondo con animación -->
	<div
		class="absolute inset-0 bg-cover bg-center bg-no-repeat animate-zoom animate-background"
	></div>
	<!-- Overlay oscuro para mejorar contraste -->
	<div class="absolute inset-0 bg-green-900 bg-opacity-60"></div>
	<!-- Imagen en la esquina superior izquierda -->
	<div class="absolute top-0 left-0 p-4">
		<!-- Imagen para pantallas grandes -->
		<img
			class="h-20 w-auto hidden sm:block"
			src="assets/images/logoWelBN.png"
			alt="DEVIDA"
		/>
		<!-- Imagen para móviles -->
		<img
			class="h-20 max-w-[100%] block sm:hidden"
			src="assets/images/logoWelBNMini.png"
			alt="DEVIDA"
		/>
	</div>
	<div class="relative z-10 text-white text-center">
		<!-- Titulo -->
		<h1
			class="mt-2 text-4xl md:text-6xl font-bold p-2 text-center text-white hover:text-[#2091c7] transition-colors duration-300 flex items-center justify-center gap-2 flex-wrap"
		>
			<img
				src="assets/images/geoico.png"
				alt="Descripción de la imagen"
				class="w-10 h-10 md:w-16 md:h-16"
			/>
			GEOPORTAL
		</h1>
		<!--Sub Titulo -->
		<h1
			class="mt-2 text-2xl md:text-4xl font-bold p-2 text-center text-white hover:text-[#2091c7] transition-colors duration-300 flex items-center justify-center gap-2 flex-wrap"
		>
			DIRECCION DE MONITOREO
		</h1>
		<!--Parrafo -->
		<p
			class="text-base md:text-lg lg:text-xl p-6 md:p-10 lg:p-16 text-center text-gray-100 max-w-xl mx-auto transition-all duration-300"
		>
			Accede a información cartográfica georreferenciada.
		</p>

		<div
			class="w-fit bg-opacity-60 rounded-lg shadow mx-auto p-8 text-center flex flex-row gap-4"
		>
			<!-- Primer Botón -->
			<div class="flex flex-col items-center">
				<a
					routerLink="/geovisor"
					class="relative flex w-[100px] h-[100px] justify-center items-center bg-[#2091c7] text-white text-sm font-normal rounded-full border-2 border-white shadow-lg hover:shadow-2xl transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2 overflow-hidden"
					aria-label="Ingresar al Geovisor"
				>
					<img
						src="assets/images/geoico.png"
						alt="Ícono de acceso al visor GIS"
						class="w-[70%] h-[70%] object-contain"
					/>
				</a>
				<span class="mt-2 text-center font-semibold">VISOR GIS</span>
			</div>

			<!-- Segundo Botón -->
			<div class="flex flex-col items-center">
				<a
					routerLink="/geovisor"
					class="relative flex w-[120px] h-[100px] justify-center items-center bg-[#2091c7] text-white text-sm font-normal shadow-md transition-all duration-300 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2"
					aria-label="Ingresar al Geovisor"
					style="
						clip-path: polygon(
							25% 0%,
							75% 0%,
							100% 50%,
							75% 100%,
							25% 100%,
							0% 50%
						);
					"
				>
					<svg
						class="w-12 h-12 text-current"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M12 2L2 7l10 5 10-5-10-5z"></path>
						<polyline points="2 17 12 22 22 17"></polyline>
						<polyline points="2 12 12 17 22 12"></polyline>
					</svg>
				</a>
				<span>REPOSITORIO</span>
			</div>
			<div class="flex flex-col items-center">
				<a
					routerLink="/geovisor"
					class="relative flex w-[120px] h-[100px] justify-center items-center bg-[#2091c7] text-white text-sm font-normal shadow-md transition-all duration-300 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2"
					aria-label="Ingresar al Geovisor"
					style="
						clip-path: polygon(
							25% 0%,
							75% 0%,
							100% 50%,
							75% 100%,
							25% 100%,
							0% 50%
						);
					"
				>
					<svg
						class="w-12 h-12 text-current"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M12 2L2 7l10 5 10-5-10-5z"></path>
						<polyline points="2 17 12 22 22 17"></polyline>
						<polyline points="2 12 12 17 22 12"></polyline>
					</svg>
				</a>
				<span>DATOS</span>
			</div>
		</div>
	</div>
</div>
