@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
	75% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.5);
  }
	25% {
    transform: scale(1.75);
  }
}

.animate-zoom {
  animation: zoomInOut 60s ease-in-out infinite;
}
