<div
	class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
	<!-- Imagen de fondo con animación -->
	<div
		class="absolute inset-0 bg-cover bg-center bg-no-repeat animate-zoom"
		style="background-image: url('assets/images/fondo.avif')"
	></div>

	<!-- Overlay oscuro para mejorar contraste -->
	<div class="absolute inset-0 bg-gray-700 bg-opacity-60"></div>

	<!-- Contenido en primer plano -->
	<div class="relative z-10 text-white text-center">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white p-1 rounded-lg">
			<img
				class="mx-auto h-20 w-auto drop-shadow-lg"
				src="assets/images/logodevida.png"
				alt="DEVIDA"
			/>
		</div>
		<h1 class="text-6xl font-bold p-5">GEOPORTAL</h1>
		<h1 class="text-3xl font-bold p-5">DIRECCION DE MONITOREO</h1>
		<p class="mt-2 text-lg p-5">
			Accede a información cartográfica y georreferenciada
		</p>
	</div>
</div>
